{% extends 'base.html' %}

{% block body %}
<div class="row">
    <h1 class="text-center col-12 mb-5 mt-3">조의 영화 리뷰 사이트에 오신걸 환영해 자기</h1>
    {% for movie in movies %}
    <div class="col-12 col-md-6 col-lg-4">
        <a class="d-flex flex-column align-items-center position-relative" style="text-decoration:none;" href="{% url 'movie_detail' movie.pk %}">
            <div class="bg-warning shadow-sm d-flex align-items-center justify-content-center position-relative" style="width: 50px; height: 50px; border-radius: 25px; top: 40px; left: -110px;">
                <span class="text-white h3">{{ forloop.counter }}</span>
            </div>

            <img class="shadow" src="{{ movie.poster }}" style="width: 230px;">
            <h5 class="text-dark">{{ movie.title }}</h5>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}